* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif, monospace;
}


/* styling of navbar */

.navbar {
    background-color: rgb(25, 27, 131) !important;
}

.nav-link {
    color: #ccc !important;
    font-size: 20px;
    font-family: sans-serif;
}

.nav-link:hover {
    opacity: 0.7;
}


/* styling of toggler icon */

.navbar-toggler-icon {
    color: #ccc !important;
}


/* styling of hero */

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    height: 100vh;
    width: 100%;
    background-image: url('stage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* styling of components of main-section */

#hero>h1 {
    font-size: 30px;
    letter-spacing: 1px;
    animation-name: fade-in;
    animation-duration: 2s;
}


/* styling og event name */

#hero h3 {
    font-size: 60px;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    #hero h3 {
        text-align: center;
    }
}

#hero p {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    color: rgb(14, 16, 155);
    animation-name: fade-in;
    animation-duration: 2s;
}


/* little animation */

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1;
    }
}


/* styling of details section */

#details {
    background-color: rgba(3, 5, 12, 0.555);
    /* rgba(3, 5, 12, 0.555) */
}


/* styling of carousel section */

.d-block {
    max-height: 500px;
}


/* styling of details section headings */

.details-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}


/* styling of paragraphs inside of article tag */

article p {
    margin-left: 20px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 600;
    word-spacing: 4px;
}


/* styling of card divs */

.card {
    margin: 10px;
    margin-left: 30px;
    background-color: rgba( 27, 27, 50, 0.6);
}

@media screen and (max-width:1024px) {
    .card {
        width: 12rem !important;
    }
}


/* styling of registration section */

#registration {
    background-color: rgba(3, 5, 12, 0.555);
}


/* styling of registration-form */

#contact-form {
    padding: 10px;
    margin: 10px;
    display: block;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: white;
    border: 1px solid black;
    margin: 20px;
    padding: 30px;
    background: rgba( 27, 27, 50, 0.6);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 13.0px);
    -webkit-backdrop-filter: blur( 13.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    letter-spacing: 2px;
}


/* trying to give gap between the input fields */

.text {
    margin: 10px;
    border-radius: 5px;
    outline: none;
}

.text:focus {
    border-color: rgba(27, 27, 50, 0.3);
}


/* styling of submit button */

#submit {
    height: 30px;
    color: #fff;
    background-color: rgb(40, 167, 23);
}

#submit:hover {
    cursor: pointer;
    background-color: rgba(40, 167, 23, 0.8);
}

iframe {
    margin-bottom: 10px;
}

@media screen and (max-width:768px) {
    .form {
        width: 80%;
    }
    iframe {
        width: 80%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .form {
        width: 70%;
    }
}


/*styling of footer section*/

#footer {
    background-color: rgba(3, 5, 12, 0.555);
}


/*styling of footer tag using flexbox*/

footer {
    margin-top: 10px;
    font-weight: 600;
}


/*styling of marquee tag*/

marquee {
    font-size: 30px;
}

marquee a {
    text-decoration: none;
}

footer p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}